<div class="container">
    <div class="searchWrapper">
        <form action="/group/{{this.groupid}}" method="POST" class="searchBar">
            <input type="hidden" id="groupid" name="groupid" value={{this.groupid}}>
            <input type="text" name="searchBar" id="searchBar" placeholder="Enter the user's email ID"
                value="{{this.searchTerm}}" defaultValue="{{this.searchTerm}}" />
            <div class="cancel-search" onclick="clearSearch()">
                <i class="fas fa-times"></i>
            </div>
            <button type="submit" class="btn-search" id="user-search-btn" disabled>
                <span class="icon search" id="search-icon" />
            </button>
        </form>
    </div>
    {{#if error}}
    <p class="err-msg">{{this.error}}</p>

    {{else}}

    <div class="member-container">
        <h2>List of Users</h2>
        <ul class="member-list">
            {{#each members}}
            <li class="member-email">
                <a href="/reset/{{this.id}}">
                    <div class="member-item">
                        {{this.email}}
                        <button class="reset-password-btn">
                            <i class="fas fa-unlock"></i>
                        </button>
                    </div>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    <div class="matchList" id="match-list"></div>

    <div class="pagination">
        <ul class="pagination-list">
            {{#each pages}}
            <li class="{{#if this.active}} active {{/if}} page">
                <a href="?from={{this.page}}">{{this.label}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<script>
    const searchButton = document.getElementById('user-search-btn');
    const searchBar = document.getElementById('searchBar');
    const cancelSearchIcon = document.querySelector('.cancel-search');
    const check = (e) => {
        if (searchBar.value === "") {
            searchButton.disabled = true
            cancelSearchIcon.classList.add('disabled')
        } else {
            searchButton.disabled = false
            cancelSearchIcon.classList.remove('disabled')
        }
        if (e && e.keyCode === 13) {
            document.querySelector('form').submit();
        }
    }


    const clearSearch = () => {
        //searchBar.value = ""
        //document.querySelector("form").submit()
        if (searchBar.defaultValue === "") {
            searchBar.value = ""
        } else {
            document.location.href = document.location.href;
        }

    }
    searchBar.onkeyup = check

    check()
</script>